Body{
    color:white;
    font-size:30px;
    font-styLE:ITALIC;

}
.header{
    
    background-color:	black;
    color:white;
    display: flex;
    justify-content: space-betWEEN;
  object-position: center;
    } 
    .head{
        margin-top: 60px;
    } 
     .sitedis{
       margin-top: 300px;
       margin-bottom: 300px;
text-align: center;
font-size:40px;
     }
     a:link{
        color:white;
       
    }
    a:visited{
    
        color:white;
    }
    
     .suma{

       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
     }
     .ABC{
    animation: forwards;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     }
     .chumma{

        background-color:	black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     }
     .ABCD{
      
        display: flex;
        justify-content: space-evenly;   
     }
    
    .item{
    
    
        position: relative;
    }
    .item p{
    font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        opacity: 0;
    }
    .item:hover p{
    opacity: 1;
    
    }
    .item:hover img{
        opacity: 0.60;
        
        }
        
    .IND{
        color:white;
       
        background-color:	black;
        text-align: center;
    }
    .IN{
        background-color:	black;
        color:white;
        text-align: center;
    }
    .OUT{
       margin-top: 150PX;
       margin-bottom: 150px;
        background-color:	black;
        color:white;
        text-align: center;
    }
    .INDI{
       
        background-color:	black;
        color:white;
        text-align: center;
    }
    H5{
        text-align: center;
    }